.Header {
  background-color: #191919;
  padding: 5px;
}
.Header .container {
  padding: 0px;
}
.icon-social {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
}
.icon-social > li {
  float: left;
  padding-top: 2px;
}
.icon-social > li > a {
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
}
.icon-social > li > a:hover {
  color: #c59e47;
}
.Call {
  list-style-type: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  color: #e7e7e7;
  margin-bottom: 0px;
}
.Call > li {
  float: right;
}
.login {
  list-style-type: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  color: #e7e7e7;
  margin-bottom: 0px;
}
.login > li {
  float: right;
}
.login > li > a {
  text-decoration: none;
  color: #e7e7e7;
  padding-right: 6px;
}
.login > li > a:hover {
  color: #c59e47;
}
.login.register {
  border-left: 1px solid #e7e7e7;
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar{
justify-content: flex-end;
}
.nav-link:hover {
  text-decoration: underline ;
    text-decoration-color:#c59e47;
  cursor: pointer;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.navbar-brand{
  text-align: center;
  font-style: oblique;
background-color: #c59e47;
padding: 10px;
margin: 10px;
border-radius: 3px
}
.branding{
  color: #e7e7e7;
}
.nav-item{
  align-items: center;
  margin-left: 60px;
}
.postnewcar, .btn{
padding: 10px;
  background-color: #c59e47;
  color: white;
}
.d-block{
  background-color: #191919;
max-height: 800px;
}
