.Header {
  background-color: #191919;
  padding: 5px;
}
.Header .container {
  padding: 0px;
}
.icon-social {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
}
.icon-social > li {
  float: left;
  padding-top: 2px;
}
.icon-social > li > a {
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
}
.icon-social > li > a:hover {
  color: #c59e47;
}
.Call {
  list-style-type: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  color: #e7e7e7;
  margin-bottom: 0px;
}
.Call > li {
  float: right;
}
.login {
  list-style-type: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  color: #e7e7e7;
  margin-bottom: 0px;
}
.login > li {
  float: right;
}
.login > li > a {
  text-decoration: none;
  color: #e7e7e7;
  padding-right: 6px;
}
.login > li > a:hover {
  color: #c59e47;
}
.login.register {
  border-left: 1px solid #e7e7e7;
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar{
justify-content: flex-end;
}
.nav-link:hover {
  text-decoration: underline ;
    text-decoration-color:#c59e47;
  cursor: pointer;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.navbar-brand{
  text-align: center;
  font-style: oblique;
background-color: #c59e47;
padding: 10px;
margin: 10px;
border-radius: 3px
}
.branding{
  color: #e7e7e7;
}
.nav-item{
  align-items: center;
  margin-left: 60px;
}
.postnewcar{
padding: 10px;
  background-color: #c59e47;
  color: white;
}
.d-block{
  background-color: #191919;
max-height: 800px;
}
.seachbar-container{
  top: -30px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #c59e47;
}
.search-toggle{
color: #e7e7e7
}
 .search-toggle:hover{
text-decoration: none;
color: #fff;
 }
 .searchbtn{
     padding-right: 10px;
  color: #fff;
  text-decoration: none;
 }
.searchbtn:hover {
  color: white;
}
.section1>h1{
    font-family: "OpenSans-Light";
    font-size: 35px;
    padding-top: 46px;
    padding-bottom: 50px;
    font-weight: lighter;
    color: #020243;
    letter-spacing: 2px;
}
.carstxt {
    padding-left: 10px;
    padding-right: 5px;
}
.feature-content{
      width: 95%;
    height: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.card-feature{
  border: 2px solid #C59E47;
  
}
.img-section {
 width: 100%;
 max-height: fit-content;
 height: 350px;
border: 0;
}
 .feature-content{
   margin-bottom: 10px;
 }
 .card-text{
   font-size: 12px;
 }
  #myBtn,  #myBtn2{
background-color: #020243;
padding: 3px;
color: #fff;
  }
  .section1-row{
    margin-bottom: 10px;
    
  }