.Header {
  background-color: #191919;
  padding: 5px;
}
.Header .container {
  padding: 0px;
}
.icon-social {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
}
.icon-social > li {
  float: left;
  padding-top: 2px;
}
.icon-social > li > a {
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
}
.icon-social > li > a:hover {
  color: #c59e47;
}
.Call {
  list-style-type: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  color: #e7e7e7;
  margin-bottom: 0px;
}
.Call > li {
  float: right;
}
.login {
  list-style-type: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  color: #e7e7e7;
  margin-bottom: 0px;
}
.login > li {
  float: right;
}
.login > li > a {
  text-decoration: none;
  color: #e7e7e7;
  padding-right: 6px;
}
.login > li > a:hover {
  color: #c59e47;
}
.login.register {
  border-left: 1px solid #e7e7e7;
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar{
justify-content: flex-end;
}
.nav-link:hover {
  text-decoration: underline ;
    text-decoration-color:#c59e47;
  cursor: pointer;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.navbar-brand{
  text-align: center;
  font-style: oblique;
background-color: #c59e47;
padding: 10px;
margin: 10px;
border-radius: 3px
}
.branding{
  color: #e7e7e7;
}
.nav-item{
  align-items: center;
  margin-left: 60px;
}
.postnewcar{
padding: 10px;
  background-color: #c59e47;
  color: white;
}
.d-block{
  background-color: #191919;
max-height: 800px;
}
.seachbar-container{
  top: -30px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #c59e47;
}
.search-toggle{
color: #e7e7e7
}
 .search-toggle:hover{
text-decoration: none;
color: #fff;
 }
 .searchbtn{
     padding-right: 10px;
  color: #fff;
  text-decoration: none;
 }
.searchbtn:hover {
  color: white;
}
.section1>h1{
    font-family: "OpenSans-Light";
    font-size: 35px;
    padding-top: 46px;
    padding-bottom: 50px;
    font-weight: lighter;
    color: #020243;
    letter-spacing: 2px;
}
.carstxt {
    padding-left: 10px;
    padding-right: 5px;
}
.feature-content{
      width: 95%;
    height: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.card-feature{
  border: 2px solid #C59E47;
  
}
.img-section {
 width: 100%;
 max-height: fit-content;
 height: 350px;
border: 0;
}
 .feature-content{
   margin-bottom: 10px;
 }
 .card-text{
   font-size: 12px;
 }
  #myBtn,  #myBtn2{
background-color: #020243;
padding: 3px;
color: #fff;
  }
  .section1-row{
    margin-bottom: 10px;
    
  }
/* latest car */
.texthover>img{
	width:100%;
  height:290px;

}
.texthover:hover .textcontent{
	opacity: 1;
}
.textcontent{
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(12,12,12,.7);
	width: 100%;
	height: 100%;
	 opacity: 0;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}
.car-img {
  padding: 5px;
  margin: 5px;

}
 .stars{
 	font-size: 7px;
	padding-top: 17px;
	padding-bottom: 12px;
	text-align: center;
	border-bottom: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.stars2{
 	font-size: 7px;
	padding-top: 10px;
	margin-top: 2px;
	text-align: center;
	border-top: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.simpletext{
 	text-align: center;
	border-top: 1px solid #F6F6FB;
	border-bottom: 1px solid #F6F6FB;
	margin-top: 2px;
	margin-left: 58px;
	margin-right: 58px;
	padding-top: 10px;
}
.simpletext>h3{
	font-family: "OpenSans Semibold";
	font-size: 13.6px;
	color:#E7E7E7;
	margin: 0px;
}
.simpletext>p{
	font-family: "OpenSans Regular";
	font-size: 11.2px;
	color: #E7E7E7;
	padding-top: 7px;
}
.simpletext>h4{
	font-family: "OpenSans Regular";
	font-size:11.3px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	padding-bottom: 25px;

}

.simpletext>button{
	background: none;
	border: 1px solid #fff;
	font-family:"OpenSans Regular";
	color: #fff;
	margin-bottom: 14px;
}
.wishtext{
	padding-bottom: 42px;
}
.paragraph1{
	font-family: "OpenSans Regular";
	font-size:11.32px;
	color: #fff;
	float: left;


}
.wishtext .paragraph2{
	font-family: "OpenSans Regular";
	font-size: 11.32px;
	color: #fff;
	float: right;
}
#filters {
	margin: 1%;
	padding: 0;
	list-style: none;
  overflow: hidden;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;		
  text-decoration: none;
  color: #666;
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease-in-out 0.25s;
}

#filters li:hover span {
  color: #000;
}

#filters li span.active {
  background: #1fbae7;
  color:#fff;
}